body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #00F0FF;
    border-radius: 10px;
    padding: 10px 20px;
    width: 320px;
    margin: 0;
}

.form-container form {
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    margin: 50px;
    color: black;
}

input, textarea {
    width: 200px;
    padding: 5px 0;
    margin: 0 0 10px 0;
}

button {
    background-color: darkblue;
    font-size: 15px;
    color: white;
    width: 100px auto;
    padding: 0 20px;
}

button:hover {
    background-color: #00F0FF;
    color: black;
}